*{
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body{
  margin:0;
  background-color: #f6f4e6;
}

header{
  width: 100%;
  height: 150px;
  text-align: center;
  background-color: #68b0ab;
}

header h1{
  position:relative;
  font-size:3rem;
  top:50%;
  transform: translate(0,-50%);
  color:#ffffff;
  margin:auto;
}

#playArea{
  max-width: 800px;
  margin: 40px auto;
  /* margin:30px auto; */
  border: 2px solid black;
  width: fit-content;
  height: fit-content;

}

/* #playArea input{
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 0;
  margin:0;
} */

table{
  border-spacing:0;
}

.controls{
  width:fit-content;
  margin:auto;
}



.controls button{
  width: 120px;
  margin: 0 10px;
  padding:10px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  background-color: #68b0ab;
  transition:ease-in-out 0.2s;
  
}

button:hover{
  transform: scale(1.1);
}

.cell{
  margin:0;
  padding:0;
}

.cell input{
  border-collapse: collapse;
  width: 50px;
  height: 50px;
  text-align: center;
  margin: 0;
  padding: 0;
  border: 0.5px solid black;

}